##### OPerators

- arthemetic operators

In [1]:
a1=45
a2=23

In [2]:
a1+a2

68

In [3]:
a1-a2

22

In [4]:
a1*a2

1035

In [5]:
a1/a2

1.9565217391304348

In [8]:
a1//a2

1

In [9]:
a1**a2

105654455657631171893227100372314453125

In [10]:
a1%a2

22

- relational or comparision operators

In [11]:
a1==a2

False

In [12]:
a1>a2

True

In [15]:
print(a1<a2)
print(a1)
print(a2)

False
45
23

In [16]:
56>=45

True

In [17]:
56<=45

False

In [18]:
45!=89

True

- logical operators

In [19]:
a3=True
a4=False

In [20]:
a3 and a4

False

In [21]:
a3 and a3

True

In [22]:
a4 and a3

False

In [25]:
a4 and a4

False

In [26]:
a3 or a4

True

In [27]:
a3 or a3

True

In [28]:
a4 or a3

True

In [30]:
0 or 1

1

In [31]:
not a4

True

In [33]:
not 0

True

- Bitwise operators

In [35]:
a=10
b=4

In [36]:
print(a & b)

0

In [39]:
100&64

64

In [38]:
a | b # 1010 | 0100 --->1110=14

14

In [40]:
~a # 1010 + 1 = -(1011) =-11

-11

In [41]:
a^b # 1010 ^ 0100 = 1110

14

In [42]:
100^64 # 0110 0100 ^ 0100 0000 = 0010 0100 -->32 + 4 =36

36

In [46]:
a>>2 # 1010 - 0010 right shift

2

In [50]:
20>>3

2

In [47]:
a<<2 # 1010 - 0010 1000 -- 32+8=40 left

40

In [51]:
20<<3

160

- identity operators

In [ ]:
is ; is not

In [52]:
i="kavitha"

In [53]:
"kavitha" is i

True

In [54]:
"Nani" is i

False

In [55]:
"Nani" is not i

True

In [56]:
"kavitha" is not i

False

In [57]:
12 is 24

False

In [58]:
12 is not 24

True

- membership operators

In [62]:
k='Python'

In [63]:
'y' in k

True

In [64]:
n=[1,2,4]
2 in n

True

In [65]:
5 in n

False

In [66]:
'u' not in k

True

In [68]:
'P' not in k

False

- assignment operators

In [70]:
b=100
b+=1 #b=b+1

In [71]:
b

101

In [72]:
b-=1 #b=b-1
b

100

In [73]:
b*=4 #b=b*4
b

400

In [74]:
b//=5 #b=b//5
b

80

In [75]:
b/=2 #b=b/2
b

40.0

In [76]:
b%=3 #b=b%3
b

1.0

In [77]:
b=3
b**=5 #b=b**5 3*3*...
b

243