- IF statements

In [3]:
# find the given number is even or not
n=int(input())
if n%2==0:
    print(n,"is even")

5

In [5]:
n=int(input())
if n%2!=0:
    print(n,"is odd")
else:
    print(n,"is even")

24
24 is even

In [8]:
x,y,z=24,15,16
if x<=y:
    print(x,"is smaller")
elif z>=y:
    print(y,"is smaller")
else:
    print(z,"is smaller")

15 is smaller

In [3]:
n1=input()
if 'N' in n1:
    if n1 == "Nani":
        print("yes its my name")
    else:
        print("No its not my name")
else:
    print("close Program")

Nani
yes its my name

- iterators

* for loop
* while loop

In [ ]:
Syntax:
for var in range(inclusive range,exclusive range):
for var in Datastructure:
    statements

In [8]:
for i in range(20):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

In [10]:
for i in range(1,21):
    if i%2==0:
        print(i,end=" ")

2 4 6 8 10 12 14 16 18 20

In [15]:
for i in range(0,21,3):
    print(i,end=" ")

0 3 6 9 12 15 18

In [18]:
for i in range(20,0,-1):
    print(i,end=" ")

20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [20]:
for i in "i am Happy":
    if i=="p":
        print(i)

p
p

- while

while condition:
    statement

In [22]:
n=0
while n<9:
    print(n,end=" ")
    n+=1

0 1 2 3 4 5 6 7 8

In [24]:
n=20
while n>0:
    print(n,end=" ")
    n-=1

20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [25]:
n=20
while n>1:
    print(n,end=" ")
    n//=2 #n=n//2

20 10 5 2

- break in for

In [26]:
for i in range(20,0,-1):
    if i==11:
        break
    print(i,end=" ")

20 19 18 17 16 15 14 13 12

In [29]:
n=0
while n<10:
    n+=1
    if n==6:
        break
    print(n,end=" ")

1 2 3 4 5

- continue

In [30]:
for i in range(20,0,-1):
    if i==11:
        continue
    print(i,end=" ")

20 19 18 17 16 15 14 13 12 10 9 8 7 6 5 4 3 2 1

In [32]:
n=0
while n<20:
    n+=1
    if n==14:
        continue
    print(n,end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 15 16 17 18 19 20

- functions

* set of statements
* reusability of code
* syntax:
     def function_name():

In [2]:
# prime number #function with return values with arguments
def primenumber(n):
    count=0
    for i in range(1,n):
        if n%i==0:
            count+=1
    if count==1:
        return True
    return False
    
primenumber(12)

False

In [15]:
# primes in 1000 #function with argument without return values
def primesin(n1):
    s=1
    for i in range(n1):
        if primenumber(i):
            s+=1
            print(i,end=" ")
    print('/n')
    print(s,"primes count")
primesin(1000)

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97 101 103 107 109 113 127 131 137 139 149 151 157 163 167 173 179 181 191 193 197 199 211 223 227 229 233 239 241 251 257 263 269 271 277 281 283 293 307 311 313 317 331 337 347 349 353 359 367 373 379 383 389 397 401 409 419 421 431 433 439 443 449 457 461 463 467 479 487 491 499 503 509 521 523 541 547 557 563 569 571 577 587 593 599 601 607 613 617 619 631 641 643 647 653 659 661 673 677 683 691 701 709 719 727 733 739 743 751 757 761 769 773 787 797 809 811 821 823 827 829 839 853 857 859 863 877 881 883 887 907 911 919 929 937 941 947 953 967 971 977 983 991 997 /n
169 primes count