In [8]:
#task 1
#arthimatic operators
a=int(input("enter a number "))
b=int(input("enter b number "))
print("1.add 2.sub 3. mul 4. div 5. mod 6.power 7. floordivision")
choice=int(input("enter your choice"))
if choice==1:
    print("addition is",a+b)
elif choice ==2:
    print("subtraction of",a-b)
elif choice ==3:
    print("multiplication  of",a*b)
elif choice ==4:
    print("division of",a/b)
elif choice ==5:
    print("modulus of",a%b)
elif choice ==6:
    print("power of",a**b)
elif choice ==7:
    print("floor of",a//b)
else:
    print("enter a valid choice")

enter a number 10
enter b number 20
1.add 2.sub 3. mul 4. div 5. mod 6.power 7. floordivision
enter your choice9
enter a valid choice

In [10]:
#task2
marks = int(input("Enter the marks: "))  
if marks >= 80 and marks <= 100:  
   print("Congrats ! you scored grade A ...")  
elif marks >= 70 and marks <= 79:  
   print("You scored grade B  ...")  
elif marks >= 60 and marks <= 69:  
   print("You scored grade C ...")  
elif (marks >= 45 and marks <= 59):  
   print("You scored grade D ...")  
else:  
   print("Sorry you are fail !")

Enter the marks: 20
Sorry you are fail !

In [14]:
#task3
n=input()
if((n>='a' and n<='z') or (n>='A' and n<='Z')):
    print("Alphabet")
elif(n>='0' and n<='9'):
    print("Digit")
else:
    print("Special Symbol")

@
Special Symbol

## iterations(continution.......)
1) for
2) while

### for loop(continution.....)
- for var in range(start,end+1,step+1)

In [25]:
 for i in range(1,11,-2):
    print(i, end=" ")

In [26]:
for i in range(11,1,-2):
    print(i,end=" ")

11 9 7 5 3

In [28]:
for i in range(5):  #default start value 0
    print(i)

0
1
2
3
4

In [29]:
n=int(input())
for i in range(n):
    print(i,end=" ")

7
0 1 2 3 4 5 6

In [31]:
n=float(input())
for i in range(n):
    print(i,end=" ")

10.0

TypeError: 'float' object cannot be interpreted as an integer

In [32]:
for i in range(12.00):
    print(i,end=" ")

TypeError: 'float' object cannot be interpreted as an integer

In [47]:
lb=int(input())
ub=int(input())
s=0
for i in range(lb,ub+1):
    s=s+i 
    t=ub-lb+1
print("sum:",s)
print("total:",t)
print("average:",s/t)

1
50
sum: 1275
total: 50
average: 25.5

In [51]:
#factorial
#5!=1*2*3*4*5=120
n=int(input())
fact=1
for i in range(1,n+1):#1,2,3,4,5
    fact=fact*i
print(fact)

3
6

In [52]:
n=int(input("table:"))
m=int(input("multiples:"))
for i in range(1,m+1):
    print(n,"*",i,"=",n*i)

table:5
multiples:20
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
5 * 11 = 55
5 * 12 = 60
5 * 13 = 65
5 * 14 = 70
5 * 15 = 75
5 * 16 = 80
5 * 17 = 85
5 * 18 = 90
5 * 19 = 95
5 * 20 = 100

In [60]:
table = int(input())
multiple = int(input())
for i in range(1,table+1) :
    for j in range(1,multiple+1) :
        print(j ," * ",i,"= ", (i*j),end="\t ")
    print('\n')

5
5
1  *  1 =  1	 2  *  1 =  2	 3  *  1 =  3	 4  *  1 =  4	 5  *  1 =  5

1  *  2 =  2	 2  *  2 =  4	 3  *  2 =  6	 4  *  2 =  8	 5  *  2 =  10

1  *  3 =  3	 2  *  3 =  6	 3  *  3 =  9	 4  *  3 =  12	 5  *  3 =  15

1  *  4 =  4	 2  *  4 =  8	 3  *  4 =  12	 4  *  4 =  16	 5  *  4 =  20

1  *  5 =  5	 2  *  5 =  10	 3  *  5 =  15	 4  *  5 =  20	 5  *  5 =  25

In [66]:
#prime numbers
#a positive integer greater than 1 which has no other factors 
#except 1 and the number itself is called as prime number
start=int(input())
end=int(input())
for i in range(start,end+1):
    if i>1:
        for j in range(2,i):
            if i%j==0:
                break
        else:
            print(i,end=" ")

1
10
2 3 5 7

In [70]:
ord('a')-96

1

In [112]:
ord('b')-96

2

In [68]:
ord('A')

65

In [ ]:
#task1:
aba
97,98,97
1,2,1
1+2+1=4
abcd=1+2+3+4=10

In [ ]:
*    *
*    *
******
*    *
*    *
******
*    *
*    *

In [73]:
n=int(input())
for i in range(n):#0,1
    print("*     *")
    print("*     *")
    print("*******")
print("*     *")
print("*     *")

2
*     *
*     *
*******
*     *
*     *
*******
*     *
*     *

In [ ]:
# while loop:
- it is used in the scenario where we don't know the number of iterations in advance.
- pre-tested loop
#syn:
intialization
while condition:
    statement
    increment/decrement

In [74]:
n=2
while n<5:
    print("thank you")
    n=n+1

thank you
thank you
thank you

In [ ]:
- for loop--->iterate until condition satisfies
- while ----->condition satisifies then it starts iteration

In [77]:
n=1
while n<5:
    if n%2==0:
        print("even")
    else:
        print("odd")
    n=n+1

odd
even
odd
even

In [ ]:
#nested for loop
one for loop defined within another for loop
#syn:
for val in sequence:
    for val in sequence:
        statements
statements

In [ ]:
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [83]:
for i in range(1,6):#1,2,3,4,5
    for j in range(0,i):#0,1,2,3,4
        print(j,end=" ") 
    print('')

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4

In [84]:
for i in range(1,6):#1,2,3,4,5
    for j in range(0,i):
        print(i,end=" ") 
    print('')

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [96]:
#for i in range(start,end+1,step+1)
#for i in range(end,start-1,step-1)
for i in range(10,0,-1):
    print(i,end=" ")

10 9 8 7 6 5 4 3 2 1

In [ ]:
for i in range(1,6):#1,2,3,4,5
    for j in range(0,i):
        print("*",end=" ") 
    print('')

In [97]:
for i in range(1,6):#1,2,3,4,5
    for j in range(5,i-1,-1):
        print(i,end=" ") 
    print('')

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [89]:
for i in range(1,6):#1,2,3,4,5
    for j in range(0,i):
        print("*",end=" ") 
    print('')
for i in range(1,6):#1,2,3,4,5
    for j in range(5,i-1,-1):
        print('*',end=" ") 
    print('')

*
* *
* * *
* * * *
* * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
* 
* * 
* * * 
* * * * 
* * * * *  
* * * * 
* * * 
* * 
*

In [101]:
for i in range(1,6):#1,2,3,4,5
    for j in range(0,i):
        print("*",end=" ") 
    print('')
for i in range(1,6):#1,2,3,4,5
    for j in range(4,i-1,-1):
        print('*',end=" ") 
    print('')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [102]:
for i in range(1,6):#1,2,3,4,5
    for j in range(1,i):
        print("*",end=" ") 
    print('')
for i in range(1,6):#1,2,3,4,5
    for j in range(5,i-1,-1):
        print('*',end=" ") 
    print('')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
#task2
* * * * * * 
 * * * * *
  * * * *
   * * *
    * *
     *

In [106]:
for i in range(5,0,-1):
    for j in range(5,i-1,-1):
        print(i,end=" ")
    print('')

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [108]:
for i in range(5,0,-1):
    for j in range(1,i+1):
        print(i,end=" ")
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [111]:
for row in range(7):
    for col in range(5):
        if (((col==0 or col==4) and row!=0)or ((row==0 or row==3) and (col>0 and col<4))):
            print("*",end=" ")
        else:
            print(end=" ")
    print()

 * * *
*    *
*    *
* * * * *
*    *
*    *
*    *

In [ ]:
1 
2 3 4 
5 6 7 8 9

In [122]:
s=2
c=1
for i in range(3):
    for j in range(1,s): 
        print(c,end=" ")
        c+=1
    print("")
    s+=2

1
2 3 4
5 6 7 8 9

In [123]:
s=2
c=1
for i in range(4):
    for j in range(1,s): 
        print(c,end=" ")
        c+=1
    print("")
    s+=1

1
2 3
4 5 6
7 8 9 10

In [125]:
#task 1:
s=input()
sum=0
for i in s:
    sum=sum+ord(i)-96
print(sum)

aba
4

In [124]:
#task2:
rows = 5
k = 2 * rows - 2
for i in range(rows, -1, -1):
    for j in range(k, 0, -1):
        print(end=" ")
    k = k + 1
    for j in range(0, i + 1):
        print("*", end=" ")
    print("")

        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

# jump statements(continution.....